/*************************
*******Footer CSS******
**************************/

.footer-bottom {
  background: #D6D6D0;
  padding-top: 10px;
}

.footer-bottom p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 15px;
}

.footer-bottom p span a {
  color: #29619E;
  font-style: italic;
  text-decoration: underline;
}

.footer-bottom {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}
